img {
  border-radius: 50%;
  width: 360px;
  height: 360px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

html { 
	background-image: url(../images/programming.jpg);
}

body {
	max-width: 80%;  
  background-color:#d2eafd;
	margin: auto;
	padding: 10px;
	border-radius: 25px;
}

.footer {
   
   left: 10;
   bottom: 10;
   height: 50%;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
}

h2 h3 h4 {
 font-family: 'Droid Serif', Georgia, Times, serif;
 font-size: 49px;
 line-height: 65px;
}
 
p {
 font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
 font-size: 14px;
 line-height: 25px;
}
